<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>CST 205 Final</title>

	<style>
	* {
	  box-sizing: border-box;
	}

	.row {
	  display: flex;
	}

	/* Create three equal columns that sits next to each other */
	.column {
	  flex: 33.33%;
	  padding: 5px;
	}
	</style>
	
</head>
<body>

    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">CST 205 Final</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="{{ url_for('view_home') }}">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_time_management') }}">Time Management</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_mental_strain') }}">Mental Strain</a>
                    </li>
					<li class="nav-item">
                        <a class="nav-link" href="{{ url_for('view_finacials') }}">Finacials</a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="jumbotron">
            <h1 class="display-4">
          		{% if title %}
          		  {{ title }}
          		{% else %}
          		  Default title
          		{% endif %}
	    </h1>
	<!--Insert your current html here-->
    </div>
		<h1>Our Goal</h1>
		<div style="display:inline-block;">
			<p>
				Students deal with a plethora of issues throughout their time during college. The purpose of this site was to address a few of those
				issues and how they may affect students and possible solutions for these issues. The issues we decided to focus on are time management, mental strain, and finacials.
				Please go ahead and choose one of the tabs above to get started.
				
			</p>
			
			<center>
			<iframe width="1000" height="700"
			src="https://www.youtube.com/embed/0NQ7dZ0t1kc">
			</iframe>
			</center>
		
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			<br>
			
			
			<p>
				Congrats for scrolling all the way down!
			</p>
		  <div class="row">
			  <div class="column">
				<img src="https://loremflickr.com/320/240" alt="Snow" style="width:100%">
			  </div>
			  <div class="column">
				<img src="https://loremflickr.com/320/240" alt="Forest" style="width:100%">
			  </div>
			  <div class="column">
				<img src="https://loremflickr.com/320/240" alt="Mountains" style="width:100%">
			  </div>
		  </div>
		</div>
    </div>
	<!--Insert your current html here-->
</body>
</html>